@model Role
@{
    string path = Context.Request.Path;
    bool isShowUserLog = path.Contains("Create") == false;
}

<div class="col-md-6">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">基本資料</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div asp-validation-summary="ModelOnly"></div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="DisplaySeq" class="form-label"></label>
                        <input asp-for="DisplaySeq" class="form-control" />
                        <span asp-validation-for="DisplaySeq"></span>
                    </div>
                </div>
                @if (isShowUserLog)
                {
                    <partial name="_UserLog" model="Model" />
                }
            </div>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">權限設定</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="row js-div-check">
                <div class="col-12">
                    <div class="mb-1">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" id="allcheck" class="custom-control-input js-all-check me-2" />
                            <label for="allcheck" class="custom-control-label">全選</label>
                        </div>
                    </div>
                    <ul class="list-unstyled mb-0">
                        @for (int i = 0; i < Model.RoleItems.Count(); i++)
                        {
                            var items = Model.RoleItems.ToList();
                            string name_Id = $"RoleItems[{i}].Id";
                            string name_Selected = $"RoleItems[{i}].Selected";

                            <li class="d-inline-block me-2 mb-1">
                                <div class="custom-control custom-checkbox">
                                    <input asp-for="@items[i].Selected" type="checkbox" class="custom-control-input js-check" id="@name_Selected" name="@name_Selected">
                                    <label for="@name_Selected" class="custom-control-label">@items[i].Id</label>
                                    <input type="hidden" asp-for="@items[i].Id" id="@name_Id" name="@name_Id" />
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
